* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    border: 3px solid white;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
}

html,body:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: .0001px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid midnightblue;
}

main {
    margin: 5px;
    height: auto;
    width: auto;
}

header {
    padding: 10px 25px;
}

.hero {
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.about, .skills, .contact {

    padding-bottom: 25px;
    background-color: antiquewhite;
}

.about-title, .skills-title {
    border-bottom: 2px solid black;
}

.about-text {
    font-size: large;
    font-weight: 600;

}

.skill-text {
    font-size: large;
    font-weight: 600;
}

