* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    border: 10px solid white;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
}

html,body:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: .0001px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 10px solid black;
}

main {
    margin: 5px;
    height: auto;
    width: auto;
}

header {
    padding: 10px 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.hero {
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.about, .skills {
    padding-bottom: 25px;
}

.about-title, .skills-title {
    border-bottom: 2px solid black;
    
}

.about-text {
    font-size: large;
    font-weight: 600;
}

.skill-text {
    font-size: large;
    font-weight: 600;
}

.contact {
    padding-top: 45px;
    padding-bottom: 45px;
}

.contact-title {
    border-top: 2px solid black;

}

.email-link {
    width: 45px;
}

.linkedin, .github, .email {
    padding: 15px;
}

.links {
    padding-top: 35px;
}

.email {
    padding-top: 38px;
}

.linkedin-link:hover, .github-link:hover, .email:hover {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
    .about-text, .skill-text{
        font-size: 12px;
    }
}